In [2]:
# import ipython
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd
import seaborn as sns
import statistics

# ipython --matplotlib

## Data cleaning

I generated a data frame that consist different problems:
- Duplicate values
- Name formatting issues: The "Name" column includes unnecessary symbols
- Incorrect age values: The "Age" column contains negative numbers, out-of-range values (e.g., 500), and mixed data types (strings, None)
- Invalid scores: The "Score" column has values exceeding 100, N/A entries, and string representations of numbers.
- Inconsistent phone formats

In [3]:
data = pd.DataFrame(data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 8],
    "Name": [".Alice", "//Bob", "Charlie", "David", "Eve", "Frank", "..Grace", "Hannah", "Hannah"],
    "Age": [20, '22', 22, -5, 19, None, 21, 500, 21],
    "Gender": ["F", "M", "M", "M", "F", "M", "F", "F", "F"],
    "Score": [85, 92, np.nan, 78, 110, 65, 'N/A', '89', 89],
    "Phone": ["123-456-7890", "(123) 456 7890", "1234567890", "123|456|7890", "123.456.7890", "+1234567890", "(123)-456-7890", "123 456 7890", "456-789-1234"],
    "Address": ["123 Main St, City", "456 Elm St, Town", "789 Oak St, Village", "101 Maple Ave, City", "202 Pine St, Town", "303 Cedar Rd, Village", "404 Birch Ln, City", "505 Walnut St, Town", "606 Cherry Blvd, Village"]
})

In [4]:
data

   ID     Name   Age Gender Score           Phone                   Address
0   1   .Alice    20      F    85    123-456-7890         123 Main St, City
1   2    //Bob    22      M    92  (123) 456 7890          456 Elm St, Town
2   3  Charlie    22      M   NaN      1234567890       789 Oak St, Village
3   4    David    -5      M    78    123|456|7890       101 Maple Ave, City
4   5      Eve    19      F   110    123.456.7890         202 Pine St, Town
5   6    Frank  None      M    65     +1234567890     303 Cedar Rd, Village
6   7  ..Grace    21      F   N/A  (123)-456-7890        404 Birch Ln, City
7   8   Hannah   500      F    89    123 456 7890       505 Walnut St, Town
8   8   Hannah    21      F    89    456-789-1234  606 Cherry Blvd, Village

### Data Cleaning Steps

**Removing Duplicates**

In [5]:
data = data.drop_duplicates(subset='ID')

**Cleaning the "Name" column**
I used the strip() function with the argument "/.", which means that I delete all these symbols.

In [6]:
data.loc[:, 'Name'] = data['Name'].str.strip('/.')

**Formatting "Phone" Numbers**
Firstly i removed all characters except digital ones, and after using lambda function connected them in one pattern

In [7]:
data.loc[:, 'Phone'] = data['Phone'].str.replace('[^0-9]', '', regex=True)
data.loc[:, 'Phone'] = data['Phone'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:])
data

   ID     Name   Age Gender Score         Phone                Address
0   1    Alice    20      F    85  123-456-7890      123 Main St, City
1   2      Bob    22      M    92  123-456-7890       456 Elm St, Town
2   3  Charlie    22      M   NaN  123-456-7890    789 Oak St, Village
3   4    David    -5      M    78  123-456-7890    101 Maple Ave, City
4   5      Eve    19      F   110  123-456-7890      202 Pine St, Town
5   6    Frank  None      M    65  123-456-7890  303 Cedar Rd, Village
6   7    Grace    21      F   N/A  123-456-7890     404 Birch Ln, City
7   8   Hannah   500      F    89  123-456-7890    505 Walnut St, Town

**Fixing "Age" Column**

In [8]:
def clean_age(age):
    if isinstance(age, (int, float)):
        return age if 0 < age <= 120 else np.nan
    if isinstance(age, str) and age.isdigit():
        age = int(age)
        return age if 0 < age <= 120 else np.nan
    return np.nan

data.loc[:, 'Age'] = data['Age'].apply(clean_age)
data

   ID     Name   Age Gender Score         Phone                Address
0   1    Alice  20.0      F    85  123-456-7890      123 Main St, City
1   2      Bob  22.0      M    92  123-456-7890       456 Elm St, Town
2   3  Charlie  22.0      M   NaN  123-456-7890    789 Oak St, Village
3   4    David   NaN      M    78  123-456-7890    101 Maple Ave, City
4   5      Eve  19.0      F   110  123-456-7890      202 Pine St, Town
5   6    Frank   NaN      M    65  123-456-7890  303 Cedar Rd, Village
6   7    Grace  21.0      F   N/A  123-456-7890     404 Birch Ln, City
7   8   Hannah   NaN      F    89  123-456-7890    505 Walnut St, Town

**Fixing "Age" Column**

In [9]:
def clean_score(score):
    if isinstance(score, (int, float)):
        return score if 0 <= score <= 100 else np.nan
    if isinstance(score, str) and score.isdigit():
        score = int(score)
        return score if 0 <= score <= 100 else np.nan
    if isinstance(score, str) and score.upper() == 'N/A':
        return np.nan
    return np.nan

data.loc[:, 'Score'] = data['Score'].apply(clean_score)
data

   ID     Name   Age Gender Score         Phone                Address
0   1    Alice  20.0      F  85.0  123-456-7890      123 Main St, City
1   2      Bob  22.0      M  92.0  123-456-7890       456 Elm St, Town
2   3  Charlie  22.0      M   NaN  123-456-7890    789 Oak St, Village
3   4    David   NaN      M  78.0  123-456-7890    101 Maple Ave, City
4   5      Eve  19.0      F   NaN  123-456-7890      202 Pine St, Town
5   6    Frank   NaN      M  65.0  123-456-7890  303 Cedar Rd, Village
6   7    Grace  21.0      F   NaN  123-456-7890     404 Birch Ln, City
7   8   Hannah   NaN      F  89.0  123-456-7890    505 Walnut St, Town

# Pandas Basics

In [10]:
df = sns.load_dataset("taxis")

In [11]:
df["color"].str.upper()

0       YELLOW
1       YELLOW
2       YELLOW
3       YELLOW
4       YELLOW
         ...
6428     GREEN
6429     GREEN
6430     GREEN
6431     GREEN
6432     GREEN
Name: color, Length: 6433, dtype: object

In [12]:
df.index = ["Index: " + str(i) for i in range(df.shape[0])]
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
Index: 0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
Index: 1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
Index: 2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
Index: 3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
Index: 4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Index: 6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
Index: 6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
Index: 6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
Index: 6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
Index: 6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [13]:
df.loc["Index: 3"]

pickup             2019-03-10 01:23:59
dropoff            2019-03-10 01:49:51
passengers                           1
distance                           7.7
fare                              27.0
tip                               6.15
tolls                              0.0
total                            36.95
color                           yellow
payment                    credit card
pickup_zone                  Hudson Sq
dropoff_zone            Yorkville West
pickup_borough               Manhattan
dropoff_borough              Manhattan
Name: Index: 3, dtype: object

In [14]:
df.iloc[3]

pickup             2019-03-10 01:23:59
dropoff            2019-03-10 01:49:51
passengers                           1
distance                           7.7
fare                              27.0
tip                               6.15
tolls                              0.0
total                            36.95
color                           yellow
payment                    credit card
pickup_zone                  Hudson Sq
dropoff_zone            Yorkville West
pickup_borough               Manhattan
dropoff_borough              Manhattan
Name: Index: 3, dtype: object

In [15]:
df.iloc[3:8]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
Index: 3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
Index: 4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
Index: 5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
Index: 6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
Index: 7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.40,8.5,0.00,0.0,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan

In [16]:
df.loc["Index: 3":"Index: 8"]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
Index: 3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
Index: 4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
Index: 5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
Index: 6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
Index: 7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.40,8.5,0.00,0.0,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
Index: 8,2019-03-23 11:48:50,2019-03-23 12:06:14,1,3.63,15.0,1.00,0.0,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan

In [17]:
df.iloc[[3, 5]]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
Index: 3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
Index: 5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan

In [18]:
df.loc["Index: 3":"Index: 8", ["passengers", "tip"]]

          passengers   tip
Index: 3           1  6.15
Index: 4           3  1.10
Index: 5           1  2.16
Index: 6           1  2.00
Index: 7           0  0.00
Index: 8           1  1.00

In [19]:
df.iloc[3:7, [3, 5]]

          distance   tip
Index: 3      7.70  6.15
Index: 4      2.16  1.10
Index: 5      0.49  2.16
Index: 6      3.65  2.00

In [20]:
df.passengers[df.passengers > 1].head()

Index: 4     3
Index: 15    3
Index: 19    6
Index: 23    5
Index: 24    5
Name: passengers, dtype: int64

In [39]:
df.passengers.value_counts()

passengers
1    4678
2     876
5     277
3     243
6     153
4     110
0      96
Name: count, dtype: int64

In [ ]:
df.loc[(df['total'] == df[df['passengers'] == 6]['total'].max())]

In [ ]:
df.loc[df.passengers == 6, 'total'].max()

In [ ]:
df.at["Index: 3", "pickup"]

In [ ]:
df.iat[4, 5]

In [ ]:
df.iat[4, 5] = 3
df.iat[4, 5]

In [ ]:
pd.set_option('display.precision', 2)
df.describe()

In [ ]:
df.sort_index(ascending=False).passengers.head()

In [ ]:
df.sort_index(axis=1).head()

In [ ]:
df.sort_values(by="fare", ascending=False)

In [ ]:
df.sort_values(by="fare", ascending=False).fare

What row has 3 passengers and the highest tips?

In [ ]:
df.loc[(df.passengers == 3)].sort_values(by="tip", ascending=False).head(1)

In [ ]:
df.loc[df.passengers == 3, 'tip'].max()

What is the most highest tip has green taxi with 1, 2 or 3 passengers?

In [ ]:
df.loc[(df['color'] == 'green') & (df['passengers'].isin([1, 2, 3]))].sort_values('tip', ascending=False).head(1)

In [ ]:
df.loc[(df['color'] == 'green') & (df['passengers'].isin([1, 2, 3])), ['passengers', 'tip', 'distance', 'fare']].sort_values('tip', ascending=False).head(1)

In [ ]:
sns.boxplot(data=df, x = 'distance')

## 7. Завантажити набір даних катастрофи "Титаніка"

In [ ]:
titanic = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/TitanicSurvival.csv')

In [ ]:
titanic

In [ ]:
sns.countplot(data=titanic, x="sex", hue="survived")

## 8. Переглянути рядки набору даних катастрофи «Титаніка»

In [ ]:
titanic.head(5)

In [ ]:
titanic.tail(5)

## 9. Налаштувати назви стовпців

In [ ]:
titanic.columns = ["name", "survived", 'sex', 'age', 'pclass']

In [ ]:
titanic.head()

In [ ]:
titanic.sort_values(by="age").head(1)

In [ ]:
titanic.sort_values(by="age", ascending=False).head(1)

In [ ]:
titanic["age"].mean()

In [ ]:
titanic[titanic["survived"] == "yes"].describe()

In [ ]:
sorted_female = titanic.sort_values(by="age").loc[(titanic.sex == "female") & (pd.notnull(titanic.age)), ["sex", "age"]]
sorted_female

In [ ]:
sorted_female.head(1)

In [ ]:
sorted_female.tail(1)

In [ ]:
titanic.sex[(titanic.sex == "female") & (titanic.survived == "yes")].count()

## 11. Побудувати гістограму віку пасажирів

In [ ]:
sns.histplot(titanic.age)

In [ ]:
df

In [ ]:
df.loc[df['passengers'] == 6]

In [ ]:
df.passengers.value_counts().head()

In [ ]:
df.passengers.loc[df["passengers"] == 6].sample(10)

In [ ]:
df[df['passengers'] == 6].sort_values(by='dropoff_zone')